header{
    background-color:$back-header;
    color:$text-first-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 20px;
    .logo{
        display: flex;
        align-items: center;
        h1{
            margin-left: 10px;
            span{
                color:$text-second-color;
            } 
        }
    }
    nav{
        ul{
            display: flex;
            
            li{
                padding: 10px;
                a{
                    
                    color: $text-first-color;
                }
            }
            img{
                margin-left:15px;
            }
        }
    }
}