/*colores de texto generales*/
$text-first-color: #ffffff;
$text-second-color: #D01418;
$text-three-color: #000000;
$text-four-color: #619D00;

/*fondos por secciones colores*/

$back-header: #222222;
$back-banner: url("/img/Img-banner.png");
$back-section1: #F3F3F3;
$back-section2: #F3F3F3;
$back-footer: #222222;
$back-copy: #C4C4C4;

/*botones colores*/
$back-first-boton: #D01418;


