/*estilos generales */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


  ul{
      list-style-type: none;
      display: flex;
  }
  a{
      /*display: inline-block;*/ /*No hace falta si ya vimos flex*/
      text-decoration: none;
      padding: 20px;
      /*background-color: green;*/
      color: #fff;
      border-radius: 20px;
  }

/*header*/

.box-sale{
    background-color: #1CD1B0;
    padding: 5px;
}


.header-style{

    /*display:flex;*/
    align-items: center;
    justify-content: space-between;

    
    z-index: 999;
    width: 100%;
    
   
    position: sticky; /*Consultar. no me sale barra de menu fijo*/
    top:0;
    
}
h1 {
    padding: 15px;
    background-color: #00669F;
}

.nav-style {
    display : flex;
    padding:10px;
    background-color: #001D2D;
    justify-content: flex-end;
    box-shadow: 0px 7px 3px 0px gray;
}


/*main*/
.container {
    position: relative;
    display: flex;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: space-evenly; /*reparte equivalentemente los 3cards*/
}
.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 5px 5px gray;
    text-align: center;
    width: 300px;
    background-color: #F3F3F3;
}

.background-card {
    width: 300px;
    height: 193px;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.background-batman{
    background-image: url('../img/fondo-batman.png');
}

.background-harley{
    background-image: url('../img/fondo-harley.png');
}

.background-superman{
    background-image: url('../img/fondo-superman.png');
}

.corazon-img{
    position: absolute;
    left: 0;
    margin: 20px;
}

.id-img{
    border-radius: 50%;
    position: absolute;
    height: 120px;
    bottom: -59px;  /*chequear */
    left: calc(50% - 60px);
    box-shadow: 1px 1px 5px;
}

.card-info{
    background-color: #F3F3F3;
    margin-top: 60px;
}

.card-info p{
    padding: 20px;
    text-align: left;
}

.card-bottom{
    border-radius: 0;
    color:#F3F3F3;
    background-color: #00669F;
    padding: 15px 30px;
    height: 336px;
}

/*footer*/


.footer-style{
    background-color: #00669F;
    color: #FFF9F9;
    font-size: 16px;
    padding: 10px;
}


/*Formulario*/

.form-contacto{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.form-contacto h3 {
    font-size: 72px;
    color: #333333;
}

.form-contacto p{

}

.form-contacto p input{
    width: 620px;
    height: 60px;
}
.form-contacto p .box-mensaje{
    height: 251px;
}

label {
    display: block;
    margin: .5em 0 0 0;
  }

input {
    font-size = 20px;
}

textarea {
    resize: none;
    width: 620px;

}

/* PSeudo Elemnto*/

input:hover {
    background-color: aqua;
}


/*** Responsive */
/*responsive desktop-tablet*/
@media all and (max-width: 768px){
    .container{
        flex-wrap: wrap;
    }

    .box {
        margin : 20px;
    }
    
}